.color1 {color: #ada976;}
.color2 {color: #c7c298;}
.color3 {color: #0a0700;}
.color4 {color: #7c7772;}
.color5 {color: #f8f8f8;}

body {
    background: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.header__principal .header__contenido{
    width: 100%;
    height: 100vh;
    background-image: url('/img/fondo-nav.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.titulo__principal {
    width: 18em;
    height: 10em;
}

.navegacion {
    display: flex;
    flex-direction: column;
    font-size: 2.3em;
    text-align: right;
    padding-right: 2em;
}

.navegacion a {
    color: #f8f8f8;
    margin-top: 0.2em;
}

.contenido {
    margin: 3em 5em;
    text-align: center;
}

.contenido .titulo {
    font-size: 6em;
    text-align: center;
    margin-bottom: 3rem;
}

.reserva__descripcion {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #7c7772;
}

.ubicacion {
    width: 100%;
    border: 0.5em solid #ada976;
    border-radius: 2em;
}

.menu__destacado {
    display: flex;
    justify-content: space-between;
}

.menu__opciones {
    display: grid;
    grid-template-areas: 
        "imagen"
        "cuerpo";
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
    margin-right: 1.5em;
    width: calc(25% - 1.5em);
}

.menu__opciones:last-child {
    margin-right: 0;
}

.menu__opciones__imagen {
    grid-area: imagen;
}

.menu__opciones__cuerpo {
    text-align: left;
    grid-area: cuerpo;
    display: grid;
    grid-template-areas: 
        "titulo"
        "descripcion";
    grid-template-columns: 100%;
    grid-template-rows: 4em auto;
}

.opciones__titulo {
    color: #0a0700;
    font-size: 1.5em;
}

.opciones__descripcion {
    color: #7c7772;
    font-size: 1.2em;
}

.menu__pdf,a {
    text-align: left;
    color: #0a0700;
    font-size: 1.1em;
}

